.side-bar-header{
    color:#058f58;
    font-family: 'El Messiri', sans-serif;
    font-size: 1.8rem;
    margin:5px 0px;
    text-align: center;
    letter-spacing: 6px;
    text-shadow: 1px 1px 2px black;
}
.pro-sidebar{
    height: inherit;
}

.pro-sidebar > .pro-sidebar-inner {
    background-color: #333;
    
}
.pro-sidebar .pro-menu {
    height: 100%;
}
.pro-sidebar .pro-menu .pro-menu-item {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
.sidebar-toggle-btn{
    
    border: 1px solid black;
    position: fixed;
    font-size:30px;
    padding: 10px 12px;
    border-radius: 50%;
    bottom:40px;
    left:8px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    z-index:3;
    display: none;
}

@media(max-width:576px){
    .sidebar-toggle-btn{
        display: block;
    }
    .pro-sidebar.sm {
        position: fixed;
        top: 0px;
        z-index: 1015;
        height: 100%;
    }
}