.content-heading-container{
    display: flex;
    align-items: center;
    padding:50px 0px;
    background-image: url('../../images/hameed-ullah.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.content-heading{
    flex: 1;
    text-align: center;
}
.content-heading h1{
    color:#058f58;
    font-family: 'El Messiri', sans-serif;
    font-size: 5rem;
    letter-spacing: 6px;
    text-shadow: 1px 1px 2px #000000;
    animation: fade 2s  normal ;
}

.content-heading .intro{
    width: 55%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 4%;
    border-radius: 10px;
    animation: fade 2s  normal ;
}
.intro p{
    font-family: sans-serif;
    font-size: 1.2rem;
}

@keyframes fade{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@media(max-width:768px){
    .content-heading-container{
        flex-direction: column-reverse;
    }
}