.btn{
    padding: 12px 20px;
    color: #fff;
    border: none;
    font-size: 1.2em;
    box-shadow: 2px 2px 8px -4px black;
    transition: all 0.15s;
    margin:5px;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 2px 2px 11px -2px black;
}
.btn-block{
    width: 100%;
}
.btn-primary{
    background-color: #058f58;
}

.btn-secondary{
    background-color: #03A693;
}

.btn-link{
    background-color: #03849c;
}
.btn-primary:hover{
    background-color: #078552;
}

.btn-secondary:hover{
    background-color: #028d7d;
}

.btn-link:hover{
    background-color: #027b91;
}