.linkButton{
    text-decoration: none;
    display:inline-block;
    color: white;
    padding: 12px 25px;
    font-family: sans-serif;
    transition: box-shadow 280ms;
    box-shadow: 1px 1px 6px -3px black;
}

.linkButton:hover{
    box-shadow: 1px 1px 8px -2px black;
}
.primary{
    background-color: #058f58;
}

.primary:hover{
    background-color: #048350;
}

.secondary{
    background-color: #03849C;
}

.secondary:hover{
    background-color: #036e81;
}

.link{
    background-color: #03A693;
}

.link:hover{
    background-color: #039b89;
}

.black{
    background-color: black;
}

.black:hover{
    background-color: #111;
}