.carousels{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.total-donations-container{
    padding:25px 10px;
    background-image: url('../../images/scott-web.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
}
.total-donations-container .total-donations{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.total-donations-container h2{
    font-size: 2.5rem;
    margin: 0px;
    margin-bottom:3rem;
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}