.costum-list{
    width:300px;
    margin: 10px;
    background: rgba(255,255,255,0.7);
    border-bottom: 1px solid #03A693;
}
.costum-list:hover{
    transform: scale(1.1,1.1);
}
.costum-list .list-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    font-family: sans-serif;
    padding:10px;
}
.costum-list .list-title h3{
    font-family: 'El Messiri', sans-serif;
    color: #058f58;
    font-size: 1.4rem;
    margin: 0px;
}
.costum-list .list-title .list-toggle-btn{
    display: none;
    padding: 1px;
    background-color: transparent;
    outline: none;
    border: none;
}
.costum-list .list-title .list-toggle-btn:active{
    box-shadow: 1px 1px 5px 1px black;
    border-radius:5px;
}
.costum-list .list-content{
    margin: 0px;
    padding:0px;
}
.costum-list .list-content .list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 10px;
    border-top:1px solid #03A693;
}

.costum-list .list-content .list-item .classment-bullet{
    text-align: center;
    padding:0px 6px;
    text-align: center;
    border: 1px solid #03A693;
    border-radius: 50%;
    margin-right: 10px;
}

@media (max-width:768px){
    .costum-list{
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
        transition:none;
    }
    .costum-list:hover{
        transform: none;
    }
    .costum-list .list-title .list-toggle-btn{
        display: block;
    }
    .costum-list .list-content{
        max-height: 0px; 
        overflow: hidden;
        transition: all 0.3s ease-in;
    }
}
@media (max-width:425px){
    
}