.main-container{
    background-color:#fff;
}
.carousel-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px;
    border-top: 8px solid #eee;
    border-bottom: 8px solid #eee;
}
.carousel-grid{
    width: 30%;
    min-width:250px;
}

.total-donations-container{
    border-top: 8px solid #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0px;
}

/*map*/
.map-container{
    background-color: #03A693;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top: 8px solid #eee;
    border-bottom: 8px solid #eee;
}
.main-container .map-title{
    width: 100%;
    color: #fff;
    font-size:3.5rem;
    text-align: center;
    text-shadow: 1px 1px 5px black;
    font-family: 'Righteous', cursive;
}
.top-willayas-container{
    padding: 10px 0px;
    border-bottom: 8px solid #eee;
}
.top-willayas-container h2{
    width: 60%;
    margin: 8px auto;
    padding:10px;
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    border-radius: 10px;
    color: #03A693;
    border-bottom:2px solid #03A693 ;
    border-top:2px solid #03A693 ;
    text-shadow: 3px 3px 0px rgb(92, 92, 92);  
    text-align: center;
    margin-bottom:1.2em;
} 
.top-willayas-container .top-willayas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block-quote-container{
    padding:120px 0px;
    border-bottom: 8px solid #eee;
    background-image: url('../../images/quot-background-2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.block-quote{
    color: #000;
    width: 75%;
    margin: auto;
    padding: 10px;
}
.block-quote p,.block-quote cite{
    font-size: 1.3em;
    color: #03849C;
}
.block-quote blockquote{
    font-size: 1.9em;
}
@media(max-width:768px){
    .carousel-container{
        flex-direction: column;
    }
    .carousel-container .carousel-grid{
        width: 100%;
    }
    .map-container {
        flex-direction: column;
        align-items: center;
    }
    .map-container .map-title{
        font-size: 2.5rem;
    }
    .block-quote{
        width: 95%;
    }
    .block-quote blockquote{
        font-size: 1.3em;
    }
}