nav{
    display: flex;
    align-items: center;
    position: sticky;
    background-color: #fff;
    top:0;
    padding: 0px 10px;
    z-index: 2;
}
nav .menu-header .logo{
    color:#058f58;
    cursor: pointer;
    font-family: 'El Messiri', sans-serif;
    font-size: 2em;
    margin-right: 30px ;
}
nav .menu-header .toggle_btn{
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
}
nav .menu-header .toggle_btn:active{
    background-color: rgba(255,255,255,0.2);
    border-radius: 10%;
}
nav .nav-bar{
    list-style: none;
    padding: 0px ;
    margin: 0px;
    width: 100%;
}
.nav-bar .nav-item {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0px 10px;;
}
.nav-bar .nav-item > a{
    font-family: 'Lato', sans-serif;
    color: #000;
    display: block;
    text-decoration: none;
    padding: 14px 10px;
    transition: background-color 0.2s ease-in-out;
}
.nav-bar .nav-item  a:hover{
    box-sizing: border-box;
    background-color: #03A693;
    color: #fff;
}

.nav-bar .nav-item:last-child{
    float: right;
    vertical-align: baseline;
}
.nav-bar .nav-item:last-child a{
   float: left;
}
.nav-bar .nav-item:last-child a:last-child{
    box-sizing:border-box;
    border-left:1px inset #03A693;
}
.nav-bar .nav-item .active{
    color: #fff;
    background-color: #03A693;
}
@media(max-width:768px){
    nav{
        flex-direction: column;
    }
    nav .menu-header{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    nav .menu-header .toggle_btn{
        display: block;
    }
    nav .menu-header .logo{
        font-size: 2rem;
    }
    .nav-bar{
        height: 0px;
        overflow: hidden;
        transition:height 0.4s;
        transition-timing-function: ease-out;
    }
    .nav-bar .nav-item{
        display: block;
    }
    .nav-bar .nav-item:last-child{
        float: none;
    }
    .show-nav{
        height: 260px;
    }
}
