.drop-zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #eee;
    height: 150px;
    width: 100%;
}
.drop-zone:active{
    border: 2px solid #eee;
}
.drop-zone p{
    color: #eee;
    font-size: 18px;
    font-family: sans-serif;
}
.shown-files-container{
    border:2px solid #eee;
    min-height: 100px;
    width: 100%;
    margin-top:10px;
}
.shown-files-container h4{
    color : #aaa;
    margin:8px;
    font-family: monospace;
    font-size: 1.3rem;
    text-align: center;
}
.shown-files-container .going_down{
    animation:  going-down 0.5s infinite;
}

@keyframes going-down {
    from{
        transform: translateY(5px);
    }
    to{
        transform: translateY(0px);
    }
}
.thumbs-container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin: 16px auto;
    padding:10px 20px;
    width: 90%;
}
.thumb{
    display:inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
    height: 150px;
    padding: 4px;
    box-sizing: border-box;
}
  
.thumb .thumb-inner{
    display:flex;
    min-width: 0;
    overflow:hidden;
}
  
.thumb .thumb-inner img{
    display: block;
    width:auto;
    height: 100%;
};