.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    min-width: 200px;
    margin: 10px;
    box-shadow: 0px 0px 5px 1px #333;
}
/* carousel-slide container the images and the dot indicator*/
.carousel-slide{
    position: relative;
    flex: 1;
    height:100%;
}
.carousel .carousel-slide .slid-images img{
    width: 100%;
    height: 300px;
    box-shadow: 0px 0px 5px 1px #333;
    object-fit: cover;
}
.slide-indicator{
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    bottom:0px;
}
.slide-indicator .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
.carousel-content{
    flex:1;
    padding: 25px;
    text-align: center;
}
.carousel .carousel-content .presentation{
    font-family: 'Philosopher', sans-serif;
    font-size: 1.4rem;
}
.black-dot{
    background-color:#fff;
}
.show{
    display: block;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration:1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media(max-width:768px){
    .carousel{
        position: relative;
        width: 45%;
        margin: 5px;
        margin-bottom: 10px;
    }
    .carousel .carousel-content{
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .carousel .carousel-content .presentation{
        position: absolute;
        bottom:18px;
        left: 0;
        color: #fff;
        margin: auto;
        font-size: 1.3em;
    }
}

@media(max-width:500px){
    .carousel{
        width: 80%;
    }
    .carousel .carousel-content .presentation{
        margin: auto;
        font-size: 1.2em;
    }
}
