.carousel{
    position: relative;
    border:1px solid #aaa;
}

/* carousel-slide container the images and the dot indicator*/
.carousel .carousel-slide  img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.carousel .carousel-slide .slide-indicator{
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    bottom:0;
}
.slide-indicator .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
.carousel-content{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}
.carousel .carousel-content .presentation{
    position: absolute;
    bottom: 0;
    font-family: 'Philosopher', sans-serif;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.4rem;
}
.black-dot{
    background-color:#fff;
}
.show{
    display: block;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration:1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media(max-width:768px){
    .carousel{
        width: 60%;
        min-width: 380px;
        margin: auto;
        margin-bottom: 10px;
    }
    .carousel .carousel-content .presentation{
        font-size: 1.3em;
    }
}


@media(max-width:500px){
    .carousel{
        min-width: 80%;
    }
    .carousel .carousel-content .presentation{
        font-size: 1.2em;
    }
}
