.form-input{
    position: relative;
    margin-bottom:2rem;
    width:80%;
}

.form-input input{
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid #8a8a8a;
    padding: 2px 5px;
    
}

.form-input label{
    position: absolute;
    top:10px;
    left: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    display: block;
    transition: all 0.2s;
    color: #aaa;
}
.form-input input:focus{
    background-color: #fafafa;
    border-bottom: 1px solid #03A693;
}
.form-input input:not([value=""]){
    border-bottom: 1px solid #03A693;
}
.form-input input:focus + label{
    top:-20px;
    color: #03A693;
}
.form-input input:not([value=""]) + label{
    top:-20px;
    color: #03A693;
}