.pub-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin:15px auto;
    padding:15px 30px;
    border:2px solid #eee;
    background-color: #fdfdfd;
}

.pub-container .pub-left-side{
    width: 40%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pub-container .pub-right-side{
    width:50%;
    display: flex;
    flex-direction: column;

}
.pub-container .pub-right-side .progress-container{
    width: 100%;
    border: 1px solid #eee;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
}
.pub-container .pub-right-side .progress-container .top-of-progress,
.pub-container .pub-right-side .progress-container .bottom-of-progress{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 0.9em;
    margin:4px 0px;
}
.pub-container .pub-right-side .about-pub-container{
   display:flex;
   justify-content:space-between;
}
.pub-container .pub-right-side .about-pub-container .about-publisher,
.pub-container .pub-right-side .about-pub-container .about-publication{
    border: 1px solid #eee;
    min-width:48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:10px 5px;
    background-color: #fff;
}
.about-pub-title{
    padding: 0px;
    margin: 13px;
    font-family: 'Philosopher', sans-serif;
    color: #03849C;
}

.abou-pub-list {
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    padding-left:15px;
    line-height: 1.7em;
    font-size: 1.1em;
}
.about-publisher .more-details-btn{
    display: none;
}
.abou-pub-list .situation{
    font-weight: 600;
    font-family: sans-serif;
}
.danger-sit{
    color: red;
}
.warning-sit{
    color: orange;
}
.success-sit{
    color: green;
}
.pub-container .pub-right-side .about-pub-container .block{
    display: none;
    border: 2px solid black;
}
@media(max-width:990px){
    .pub-container{
        width: 100%;
        padding: 5px;
    }
    .pub-container .pub-right-side{
        width: 55%;
    }
}

@media(max-width:768px){
    .pub-container{
        flex-direction: column;
        align-items: center;
    }
    .pub-container .pub-left-side,.pub-container .pub-right-side{
        width:80%;
    }
}

@media(max-width:500px){
    .pub-container .pub-left-side,.pub-container .pub-right-side{
        width:100%;
    }
    .pub-container .pub-right-side .about-pub-container .about-publication{
        display: none;
    }
    .pub-container .pub-right-side .about-pub-container .about-publisher{
        width: 100%;
    }
    .about-publisher .abou-pub-list {
        padding-left: 20px;
    }
    .about-publisher .more-details-btn{
        display: block;
    }

}